<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prove 01</title>
  </head>
  <body>
    <h1>Prove 01 | Sign Up</h1>
    <p>We're starting a whole, new world of adventure! If you'd like to be a part of it, please add your name to the registry using the form below</p>
    <!--
      REQ: ...add a <form> with a "username" <input> that is submitted using a
      POST request to "/create-user" when the submit button is clicked
    -->
    <form method="post" action="/create-user">
      <fieldset>
        <legend>Sign up!</legend>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="John Smith">
          <br/>
          <input type="submit" value="Finished">
      </fieldset>
    </form>
  </body>
</html>
