<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prove 01 | Thank you</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Thank you, <%= user.toString() %>!</h1>
    <p>You've been successfully registered. Want to see the users registered? Just visit the <a href="/users">list of users registered</a>!</p>
  </body>
</html>
