<nav class="navbar navbar-Dark bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand btn btn-light" href="/">My Bookshop</a>
    <div>
      <a href="/cart-items" class="btn btn-primary" aria-label="Cart">
        <i class="fa fa-shopping-cart"></i>
        <% try{%>
          <%= `(${cartItems.length})` %>
        <% }catch{%>
          <%= "(0)" %>
        <% }%>
      </a>
    </div>
  </div>
</nav>
