<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <div class="container">
    <div class="row">
      <ul class="list-group">
        <% users.forEach(function(user){ %>
          <li class="list-group-item">
            <%= user %>
          </li>
          <% }); %>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <form class="" action="/ta02/addUser" method="post">
          <label for="user">New User</label>
          <input class="form-control" type="text" id="user" name="user">
          <input type="submit" class="btn btn-primary" value="Save">
        </form>
      </div>
        <div class="col-sm-6">
          <form class="" action="/ta02/deleteUser" method="post">
            <label for="removeUser">Remove User</label>
            <input class="form-control" type="text" id="removeUser" name="user">
            <input type="submit" class="btn btn-danger" value="Remove">
          </form>
        </div>

      </div>
    </div>
</body>

</html>
